




   <nav>
      <ul>
         <li><a href="../"><img src="/images/home.svg" alt="Home"></a></li>
         <li><a href="../">...</a>s</li>
         <li><a href="../profile"><img src="/images/profile.svg" alt="Profile"></a></li>
      </ul>
   </nav>
