



<!--  -->


<div class="for_you">


<header>
   <article>
      <h2> Hey, <br> <%= name %> </h2>
   </article>

   <figure>
      <img src="" alt="">
   </figure>

</header>



<!-- Ontdekken -->

<h3>Ontdekken</h3>

<section>

   <article>
      <figure>
         <a href="/explore"><img src="/images/arrow_right.svg" alt="Home"></a>
      </figure>

   </article>

</section>






<!-- Mijn collectie -->
<div class="collection">

   <h3>Mijn collectie</h3>

   <!-- Rij 1 -->
   <section>

      <article>
         <figure>
            <img src="/images/hak.svg" alt="Home">
         </figure>

         <h4>Hakken</h4>

         <p>5 schoenen</p>
      </article>

      <article>
         <figure>
            <img src="/images/sneaker.svg" alt="Home">
         </figure>

         <h4>Sneakers</h4>

         <p>11 schoenen</p>
      </article>

      <article>
         <figure>
            <img src="/images/laars.svg" alt="Home">
         </figure>

         <h4>Laarzen</h4>

         <p>24 schoenen</p>
      </article>

      <article>
         <figure>
            <img src="/images/instapper.svg" alt="Home">
         </figure>

         <h4>Instappers</h4>

         <p>10 schoenen</p>
      </article>

   </section>

</div>

</div>


<%- include('partials/navigation.ejs') %>