


<div class="sign_in">





   <!-- Introductie -->
   <h1>Hello, again!</h1>

   <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Sed non ipsum ante. 
   </p>



   <!-- Formulier -->
   <form action="" method="POST">

        <!-- Gebruikersnaam -->
        <label for="username"></label>
        <input type="text" name="username" id="username" placeholder="Enter username" />

        <!-- Email -->
        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="Email" required />

        <!-- Wachtwoord -->
        <label for="password"></label>
        <input type="password" name="password" id="password" placeholder="Password" required />


      <!-- Wachtwoord vergeten -->
      <span><a href="#"></a>Recover password</span>



         <!-- Inloggen -->
      <input type="submit" value="Log in">

         <!-- Registreren -->
      <span>Heb je nog geen account? <a href="/sign_up">Register now</a></span>

   </form>





</div>