



<header>

   <article>
      <a href="profile_overview"><img src="/images/arrow_left.svg" alt="Terug"></a><h2>Land</h2>
   </article>

</header>


<main>

   <section>
      <select name="land" id="landen">

      </select>
   </section>

   <div id="container">
      <h1>QR Code Scanner</h1>
      <a id="btn-scan-qr">
          <img src="https://uploads.sitepoint.com/wp-content/uploads/2017/07/1499401426qr_icon.svg">
      </a>
      <canvas hidden="" id="qr-canvas"></canvas>
      <div id="qr-result" hidden="">
          <b>Data:</b> <span id="outputData"></span>
      </div>
  </div>

</main>

<script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js">
</script>
