



<div class="welcome">


      <h1>Match clothes with one touch</h1>

      <p>
         We will simplify your difficult choice
      </p>

   <article>
      <a href="/sign_up">Register</a>
      <a href="/log_in">Sign in</a>
   </article>


</div>